@keyframes pizzaRotate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes burgerUp {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-25px);
    }
}

@keyframes boxRotate {
    0%{
        transform:translate(-50%,-50%) rotate(0);
    }
    100%{
        transform:translate(-50%,-50%) rotate(360deg);
    }
}

@keyframes spanDown {
    0%{
        top: 5px;
    }
    50%{
        top: 15px;
    }
    100%{
        top: 15px;
        transform: translate(-50%,-50%) rotate(45deg);
    }
}

@keyframes spanUp {
    0%{
        top: 25px;
    }
    50%{
        top: 15px;
    }
    100%{
        top: 15px;
        transform: translate(-50%,-50%) rotate(-45deg);
    }
}

@keyframes bike {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
        transform: translate(0,-30px);
    }
    50%{
        opacity: 1;
        transform: translate(0,0);
    }
    70%{
        opacity: 0;
        transform: translate(200%,0);
    }
}
